* {
}

body {
    /*Bakgrunden och font.*/
    background: linear-gradient(to right, #3c4367, #515a8a, #3c4367);
    font-family: Arial;
}

.container {
    /*Gör så att allting inte tar hela skärmen och så att allting är i mitten.*/
    width: 50%;
    margin: auto;
}

header {
    /*Header.*/
	margin-bottom: 5px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 20px;

}

nav {
    /*Navigation bar.*/
    align-content: center;
	margin-bottom: 5px;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393f60;
}

nav ul li {
    /*Gör så att knapparna sitter på rad istället för på varandra.*/
	display: inline;
    float: left;
}

nav ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.highlight
{
	color: #000000;
	background-color: #fff;
	font-weight: bold;
}

nav ul li a:hover {
    /*Gör så att knapparna ändrar färg när man håller musen över dem.*/
    background-color: #2d324d;
}

.content {
    /*Ger hemsidan en vit bakgrund som inläggen sitter på.*/
    width: 90%;
	margin: auto;
	margin-bottom: 5px;
	padding: 10px 20px;
    background-color: white;
}

div.post {
    /*Ger inläggen en fin liten kant runt sig.*/
	border: 1px solid #000;
	padding: 5px;
	margin-bottom: 10px;
    background-color: white;
}

div.post h3 {
    /*Fixar till storleken på inläggen.*/
	color: #000;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.post a {
     /*Gör så att läs mer knappen alltid är svart oavset vad.*/
	color: #000;
}

p.author {
    /*Fixar till mellanrummet runt författarens namn.*/
	margin-bottom: 0px;
	margin-top: 5px;
}

p.date {
     /*Fixar till mellanrummet runt datumet.*/
	margin-top: 0px;
	margin-bottom: 5px;
}

p.message {
    /*Fixar mellanrummet mellan inläggen.*/
	border-top: 1px solid #000;
	padding-top: 5px;
	margin-top: 5px;
}

footer {
}
